@model Banking.Web.Models.EmployeeUserModel

@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="container-fluid">
    <h3 class="fw-semibold text-primary mb-4">Add New Employee</h3>

    @using (Html.BeginForm())
    {
        <div class="mb-3">
            @Html.LabelFor(e => e.Employee.EmployeeName, "Employee Name")
            @Html.TextBoxFor(m => m.Employee.EmployeeName, new { @class = "form-control", placeholder = "Enter full name" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(e => e.UserLogin.UserName, "User Name")
            @Html.TextBoxFor(m => m.UserLogin.UserName, new { @class = "form-control", placeholder = "Enter Username" });
        </div>

        <div class="mb-3">
            @Html.LabelFor(e => e.UserLogin.PasswordHash, "Password")
            @Html.PasswordFor(m => m.UserLogin.PasswordHash, new { @class = "form-control", placeholder = "Enter Password" });
        </div>

        <div class="mb-3">
            @Html.LabelFor(e => e.ConfPass, "Confirm Password")
            @Html.PasswordFor(m => m.ConfPass, new { @class = "form-control", placeholder = "Confirm Password" });
        </div>

        <div class="mb-3">
            @Html.LabelFor(e => e.Employee.DepartmentID, "Department")
            @Html.DropDownListFor(m => m.Employee.DepartmentID, ViewBag.Departments as SelectList, new { @class = "form-control" })
        </div>

        <div class="mb-3">
            <label class="form-label">PAN</label>
            @Html.TextBoxFor(m => m.Employee.PAN, new { @class = "form-control", placeholder = "Enter PAN number" })
        </div>

        <button type="submit" class="btn btn-success">Add Employee</button>
    }

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info mt-3">@TempData["Message"]</div>
    }
</div>

